<div class="container">
  <div class="row">
    <div class="col s10 offset-s1" id="panel">
      <h3 class="blue-grey lighten-2" id="title">Login</h3>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input autocomplete="username" id="login-username" type="text">
            <label for="login-username">username</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input autocomplete="current-password" id="login-password" type="password">
            <label for="login-password">Password</label>
          </div>
        </div>
        <button class="btn blue-grey lighten-2 waves-effect" id="login-btn">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
