.body-div {
  height: 100vh;
}

.card-panel {
  margin: 0 !important;
}

div.body-container {
  //margin-top: 50px !important;
}


.welcome-msg {
  text-align: center;
  font-size: 20px;
}


.tabs a {
  font-weight: bold;
  font-size: 18px;
}

.tabs .active {
  background: inherit !important;
}

.auth-content {
  height: 500px;
}
